@charset "utf-8";

// Flex.

.flex-grow {
  flex-grow: 1;
}

.sticky-top {
  @supports (position: sticky) {
    position: sticky !important;
    top: 0;
  }
}

.sticky-bottom {
  @supports (position: sticky) {
    position: sticky !important;
    bottom: 0;
  }
}
