@charset "utf-8";

// Flex.

.flex-grow {
  flex-grow: 1;
}

.sticky-top {
  @supports (position: sticky) {
    position: sticky !important;
    top: 0;
  }
}

.sticky-bottom {
  @supports (position: sticky) {
    position: sticky !important;
    bottom: 0;
  }
}

.text-white {
  color: white;
}

:global(.bg-darkblue) {
  background: $color-3;
  color: $color-7;

  @media print {
    background: $color-7;
    color: $color-1;
  }
}
