@import 'css/settings';

//
// Alerts

$alert-padding-y:          $font-size-regular * 0.75 !default;
$alert-padding-x:          $font-size-regular * 1.25 !default;
$alert-margin-bottom:      $font-size-regular * 2 !default;
$alert-border-width:       1px !default;

//
// Close

$close-font-size: $font-size-regular * 1.5 !default;

//
// Base styles

.alert {
  position: relative;
  padding: $alert-padding-y $alert-padding-x;
  margin-bottom: $alert-margin-bottom;
  border: $alert-border-width solid transparentize($color-1, 0.8);
  background: white;

  :global(a) {
    text-decoration: underline;
    font-weight: 700;
  }
}

// Headings for larger alerts
.alert-heading {
  // Specified to prevent conflicts of changing $headings-color
  color: inherit;
}

// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

.alert-dismissible {
  padding-right: $close-font-size + $alert-padding-x * 2;

  // Adjust close link position
  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: $alert-padding-y $alert-padding-x;
    color: inherit;
  }
}
