@import 'css/settings';

.c-disclaimer {
  columns: 2;
  
  > .disclaimer-text {
    font-size: 12px;
    font-style: italic;
    font-weight: $font-weight-light;
    line-height: 1.5;

    a {
      font-style: italic;
    }
  }
}
