@import 'css/settings';

:global(.layout-content-mobile) {
  .c-index-page .splash {
    margin-top: unset;
  }
}

.c-index-page {
  background: $color-2;

  .hero-container {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .hero-cover {
    width: 100%;
    height: auto;
  }

  .image-container {
    position: relative;
    display: flex;
    flex-direction: column;

    .hero-credits {
      position: absolute;
      right: 0;
      bottom: 0;
      display: block;
      font-size: $font-size-smallest;
      font-style: italic;
      color: $color-7;
      margin-right: 0.5em;

      @media #{$mq-md} {
        transform: rotate(-90deg) translate(100%, -100%);
        transform-origin: 100% 50%;
        margin-right: 0em;
      }
    }
  }

  .title-container {
    background: $color-3;
    width: 100%;
    padding: 2.5rem;

    @media #{$mq-md} {
      padding-right: calc(25% + 90px);
    }

    .title {
      font-family: $font-family-2;
      font-size: $font-size-bigger;

      color: $color-7;
      line-height: 1.2;

      @media #{$mq-md} {
        font-size: $font-size-giant;
      }
    }

    .subtitle {
      color: $color-7;
      margin-top: 0.5em;
    }
  }

  .quick-access {
    position: static;
    width: 100%;
    padding: 25px;
    background: $color-2;
    font-size: $font-size-big;
    color: $color-7;

    @media #{$mq-md} {
      position: absolute;
      width: 25%;
      right: 30px;
      bottom: 70px;
    }

    .title {
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 25px;
    }

    ul > li {
      margin-bottom: $gutter-width / 2;
      padding-bottom: $gutter-width / 2;
      border-bottom: 1px solid $color-4;

      &:last-child {
        border-bottom: none;
        margin: 0;
      }

      a {
        transition: margin ease-in-out 100ms;

        &:hover {
          margin-left: 10px;
        }
      }
    }
  }

  .intro {
    .text-section {
      &:first-child {
        margin: 0 0 20px;
      }

      .title {
        font-family: $font-family-2;
        font-size: $font-size-big;
        color: $color-7;

        & + p {
          margin: 20px 0 0;
        }
      }

      p {
        color: $color-7;

        & + .title {
          margin: 20px 0 0;
        }
      }

      img {
        margin: 35px 0 0;
        width: 100%;
      }
    }

    .buttons-container {
      display: flex;
      flex-direction: column;
      margin: 35px 0 0;

      > :global(button) {
        &:not(:first-child) {
          margin: 15px 0 0;
        }
      }

      @media #{$mq-lg} {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 25px;

        > :global(button) {
          &:not(:first-child) {
            margin: 0 auto auto;
          }
        }
      }
    }
  }

  .summary-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 35px;
    margin: 15px 0 0;
    border-radius: 100px;
    background: $color-7;
    color: $color-1;

    @media #{$mq-lg} {
      margin: 0;
    }
  }

  .bordered-section {
    padding: 0 1rem 1rem;
    border: 1px solid $color-3;

    .bordered-section-title {
      margin: 0 -1rem 1rem;
      padding: 1rem;
      font-size: 1.5rem;
      background: $color-3;
      color: $color-6;
    }
  }
}
