@import 'css/settings';

.c-index-page {

  .splash {
    padding: 55px 0;

    background-image: url('/static/images/homepage_background.jpg');
    background-size: cover;
    background-position: 50% 75%;
    background-repeat: no-repeat;

    .title {
      font-family: $font-family-2;
      font-size: $font-size-bigger;

      color: $color-7;
      line-height: 1.2;

      @media #{$mq-md} {
        font-size: $font-size-giant;
      }
    }

    .subtitle {
      color: $color-7;
      margin-top: 25px;
    }

    @media #{$mq-md} {
      padding: 150px 0;
    }

    @media #{$mq-lg} {
      padding: 250px 0;
    }
  }


  .download-summary {
    padding: 50px 0 0;
    background: $color-2;

    .download-button-container {
      display: flex;
      flex-direction: column;

      @media #{$mq-md} {
        flex-direction: row;
        justify-content: center;
      }
    }
  }

  .c-index-card {
    flex: 1;
    height: calc(100% - 1em);
    padding: 35px;
    background: $color-4;
    color: white;
    border-radius: 1em;
    text-align: center;
    margin-bottom: 1em;

    img {
      max-width: 100%;
      height: auto;
      margin-bottom: 1em;
    }

    h3 {
      font-size: 1.3em;
      margin-bottom: 0.5em;
    }

    p {
      margin-bottom: 0;
      font-size: 1em;
      line-height: 1.2;
    }
  }
  

  .splash-credits {
    padding: 10px 0;
    background: $color-2;

    .credits {
      font-size: $font-size-smallest;
      font-style: italic;
      color: $color-7;
    }
  }
}
