@import 'css/settings';
@import 'css/mixins';

.c-nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $color-7;

  .nav-list {
    display: flex;
  }

  .nav-item {
    &:not(:first-child) {
      margin-left: 2em;
    }

    > a, > .submenu-literal {
      display: inline-block;
      width: 100%;
      height: 100%;
      padding: 25px 0;
      cursor: pointer;
      white-space: nowrap;

      font-family: $font-family-2;
      font-size: $font-size-regular;
    }

    &.-selected {
      position: relative;
      &:before {
        content: '';
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 21px;
        height: 4px;
        background: $color-8;
      }
    }

    &.-submenu {
      position: relative;

      &:after {
        @include arrow(9px, 2px, currentColor, 'down');
        position: absolute;
        top: calc(50% - 2px);
        right: 2px;
        transform: translate(0, -50%) rotate(45deg);
        pointer-events: none;
      }

      &.-open {
        &:after {
          @include arrow(9px, 2px, currentColor, 'up');
        }
      }

      > a, .submenu-literal {
        padding-right: 20px;
      }
    }
  }
}

.submenu {
  width: 250px;
  box-shadow: 0 4px 16px 0 rgba($color-1, .1);

  > .nav-item {
    background: $color-7;

    font-family: $font-family-2;
    text-align: center;

    &:not(:first-child) {
      border-top: 1px solid $color-6;
    }

    &:not(.-submenu) {
      &:hover {
        color: $color-8;
      }
    }

    > a {
      display: inline-block;
      width: 100%;
      padding: 15px 25px;
      cursor: pointer;
    }

    &.-submenu {
      > a  {
        position: relative;
        &:after {
          @include arrow(9px, 2px, currentColor, 'down');
          position: absolute;
          top: calc(50% - 2px);
          right: 10px;
          transform: translate(0, -50%) rotate(45deg);
          pointer-events: none;
        }
      }

      &.-open {
        > a {
          &:after {
            @include arrow(9px, 2px, currentColor, 'up');
          }
        }
      }
    }

    .submenu {
      box-shadow: none;

      > .nav-item {
        background: $color-6;
        font-size: 13px;
      }
    }
  }
}

.nav-submenu-element {
  z-index: 3;
}
