// stylelint-disable declaration-no-important

// Alignment

.text-justify  { text-align: justify !important; }
.text-wrap     { white-space: normal !important; }
.text-nowrap   { white-space: nowrap !important; }

// Responsive alignment

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .text#{$infix}-left   { text-align: left !important; }
    .text#{$infix}-right  { text-align: right !important; }
    .text#{$infix}-center { text-align: center !important; }
  }
}

// Transformation

.text-lowercase  { text-transform: lowercase !important; }
.text-uppercase  { text-transform: uppercase !important; }
.text-capitalize { text-transform: capitalize !important; }

// Responsive font-size

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .text#{$infix}-size-smallest   { font-size: $font-size-smallest; }
    .text#{$infix}-size-small      { font-size: $font-size-small; }
    .text#{$infix}-size-regular    { font-size: $font-size-regular; }
    .text#{$infix}-size-big        { font-size: $font-size-big; }
    .text#{$infix}-size-bigger     { font-size: $font-size-bigger; }
    .text#{$infix}-size-huge       { font-size: $font-size-huge; }
    .text#{$infix}-size-giant      { font-size: $font-size-giant; }
  }
}
