@import 'css/settings';

:global(.layout-content-mobile) {
  .c-companies-detail-header {
    top: 43px;
  }
}

.c-companies-detail-header {
  z-index: 3;
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  background: $color-3;
  transform: translate(0, -1px);
  box-shadow: 0 4px 16px 0 rgba($color-1, .1);

  .main-section-container {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .anchor-navigation-container {
    padding: 10px 0 0;
    background: white;

    .l-layout {
      position: relative;
      padding: 0;

      &:before {
        content: '';
        position: absolute;
        display: block;
        width: 4em;
        height: 100%;
        left: -2em;
        top: 0;
        background: linear-gradient(to right, transparentize(white, 0), transparentize(white, 1));
        z-index: 10;
      }

      &:after {
        content: '';
        position: absolute;
        display: block;
        width: 4em;
        height: 100%;
        right: -2em;
        top: 0;
        background: linear-gradient(to left, transparentize(white, 0), transparentize(white, 1));
        z-index: 10;
      }
    }

    .scroll-container {
      overflow-x: scroll;
      margin-left: -2em;
      margin-right: -2em;
      padding-left: 2.5em;
      padding-right: 2.5em;
      padding-bottom: 1em;
    }
  }

  .left-side,
  .right-side {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .left-side {
    .go-back-link {
      font-size: $font-size-huge;
      font-weight: $font-weight-light;
      color: $color-7;

      > :global(svg) {
        margin: 0 35px 0 0;

        @media print {
          display: none;
        }
      }

      @media print {
        color: $color-1;
      }
    }
  }

  .right-side {
    display: flex;
    justify-content: flex-end;

    > .pdf-print {
      display: flex;
      align-items: center;
      min-width: 115px;

      > .print-btn {
        display: flex;
        align-items: center;

        font-size: $font-size-small;
        font-weight: $font-weight-bold;
        color: $color-7;


        > :global(.c-icon) {
          margin: 0 15px 0 0;
        }
      }

      @media print {
        display: none;
      }
    }

    @media #{$mq-sm} {
      margin: 0;
      border-left: 1px solid rgba($color-7, .2);
    }
  }

  @media print {
    position: initial;
    box-shadow: none;
    background: $color-7;
  }
}
