@import 'css/settings';

.go-top-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  z-index: 99;
  color: $color-5;
  border: 1px solid $color-7;
  background-color: $color-2;
  opacity: 0;
  transition: opacity 0.5s ease-in;
  cursor: pointer;

  @media #{$mq-md} {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-show {
    opacity: 1;
  }

  .c-icon {
    width: 22px;
    height: 22px;
  }
}

