@import 'css/settings';

.c-language-bar {
  padding: 20px 0;

  > .languages-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    white-space: nowrap;
  }

  > .languages-list > .languages-item {
    display: inline-block;
    width: 50%;

    > button {
      padding: 10px;
      font-family: $font-family-2;
      font-size: $font-size-small;
      color: $color-7;
      text-transform: uppercase;
    }

    &.-selected {
      > button {
        color: $color-8;
      }
    }
  }
}
