@import 'css/settings';

.c-companies-list {
  height: 100%;

  &.five-columns .content{
    columns: 2;

    @media #{$mq-sm} {
      columns: 3;
    }

    @media #{$mq-md} {
      columns: 5;
    }

    .companies-list-item {
      padding: 0.25em 0;
    }
  }

  .content {
    position: relative;
    columns: 2;
    margin-bottom: 1em;

    .companies-list-item {
      display: block;
      margin-bottom: .5em;
      font-size: 1.1rem;
      color: transparentize($color-7, 0.1);

      &.tether-enabled,
      &:hover {
        color: $color-7;
      }

      > .company-name {
        color: inherit;
        text-decoration: underline;
        cursor: pointer;
      }

      > .highlighted {
        color: $color-8;
      }
    }

    .veil {
      position: absolute;
      top: -0.5em;
      left: -0.5em;
      width: calc(100% + 1em);
      height: calc(100% + 1em);
      z-index: 2;
      background: transparentize($color-2, 0.5);
    }
  }

  .not-found {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;

    color: $color-7;
  }
}

:global(.companies-list-tooltip-tether) {
  z-index: 2;
}

.companies-list-tooltip {
  position: relative;
  max-width: 385px;
  background: $color-3;

  .company-link {
    display: inline-block;
    width: 100%;
    background: $color-7;
    padding: 25px 0;

    font-size: $font-size-big;
    text-align: center;

    &:hover {
      background-color: $color-5;
    }
  }

  .companies-list-tooltip-close {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 30px;
    height: 30px;
    border: 0;
    padding: 0;
    background: $color-7;
    border-radius: 50%;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.1);
    transform: translate(-25%, -50%);
    z-index: 2;
    cursor: pointer;
  }
}

