@import 'css/settings';

.anchor-navigation {
  list-style: none;

  li {
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;

    &.anchor-nav-item {
      padding: 0.5em 0;
      margin-right: 1em;
      font-size: $font-size-small;
      text-align: center;
      white-space: nowrap;

      &:last-child {
        padding-right: 3rem;
      }
    }

    &.active {
      &:before {
        content: '';
        display: inline-block;
        position: absolute;
        bottom: -16px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 21px;
        height: 4px;
        background: $color-8;
      }
    }
  }
}
