@import 'css/settings';

.c-stacked-bars-chart {
  width: 100%;

  :global(.recharts-xAxis),
  :global(.recharts-cartesian-grid) {
    :global(line) {
      stroke: $color-7;
    }
  }

  :global(.recharts-yAxis tspan) {
    fill: $color-7;
  }

  :global(.recharts-xAxis tspan) {
    fill: $color-7;
    font-size: $font-size-regular;

    @media #{$mq-sm} {
      font-size: $font-size-regular;
    }
  }

  :global(.recharts-label) {

    > :global(tspan) {
      font-size: $font-size-regular;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
    }
  }
}
